*{
    margin: 0;
    padding: 0;
    background-color: #DBCA9F;
}

.home{
    border: 1px solid black;
    height: 29vh;
}

.logo{
    width: 20vw;
    height: 20vh;
    padding-left: 20px;

}

.titulo{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    font-size: 36px;
    padding-bottom: 1px;
}
  
.disney{
    width: 30vw;
    height: 70vh;
    padding-left: 30px;
    padding-top: 30px;
}


